.full{
    background: linear-gradient(360deg, rgba(207,230,236,1) 9%, rgba(255,251,255,1) 100%);
    height: 100vh;
}
.full h1{
    font-weight: bold;
    /* text-decoration: underline; */
    margin: auto;
    color: rgb(186, 49, 3);
    margin-left: 10%;
}

.full h4{
    margin-left: 10%;
    font-weight: lighter;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 3%;
    
}
.myself{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    margin-right:10% ;
    width: 70%;

}
.myself h6{
    font-weight:normal;
}
.about img{
    object-fit: contain;
    width:60%;
    height: 60vh;

}
.myself span{
    margin-top: 2px;
    font-weight:lighter;
    font-size: 20px;
    
}

.myself .details{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 130px;
    margin-top: 10px;
    font-weight: lighter;
    font-size: 20px;
    max-height: 4.5em;
    line-height: 1.4em;
}
.media {
    display: flex;
    flex-direction: row;
    gap: 7px;
}
.full .hire{
    color: white;
    
    background-color: white;
    font-size: 20px;
    border: 1px solid rgb(193, 145, 12);
    color: rgb(223, 159, 31);
    padding: 7px;
    margin-top: 25px;
    cursor: pointer;

}
.full .hire:hover{
    background-color: rgb(193, 145, 12);
    color: white;
}

@media screen and (max-width: 768px) {
    .about {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
    .about img{
        width: 100vw;
    }
    .full{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .myself .details{
        margin-top: 10px;
        font-size: 18px;
        max-height: 4.5em;
        line-height: 1.4em;
        gap: 40px;
        justify-content: center;
    }
    .myself{
        width: auto;
    }
    .myself span{
        display: flex;
        justify-content: flex-start;
        
        font-size: 18px;
        line-break: auto;
        
    }
    
  }