.header{
    
    background-color: rgb(16, 33, 65);
    /* background: linear-gradient(180deg, rgb(174, 99, 221) 9%, rgb(168, 77, 253) 100%); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header .nav-btn {
	padding: 2px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	overflow: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.header h1{
    margin-left: 60px;
    font-weight: bold;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.list{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    list-style: none;
    
    
}
.list a {
    text-decoration: none;
    color: white;
}
  
.list a:hover,
.list a.active {
    color: rgb(206, 23, 99);
    text-decoration: underline;
    font-weight: bold;
  }

  @media only screen and (max-width: 1024px) {
	.header .nav-btn {
		overflow:visible;
		opacity: 1;
	}

	.header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		gap: 2rem;
		background-color: rgb(16, 33, 65);
		transition: 0.5s;
		transform: translateX(100vh);
        z-index: 2;
	}
    .list{
        display: flex;
        flex-direction: column;
    }

	.header .responsive {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav .list  {
		font-size: 1.5rem;
	}
}

