.header{
    
    border-bottom:1px  rgb(53, 51, 51);
    
    background: linear-gradient(180deg, rgba(207,230,236,1) 9%, rgba(255,251,255,1) 100%);
    
    
}

.navbar h1{
    margin-left: 60px;
    font-weight: bold;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.list{
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    list-style: none;
    
    
}
.list a {
    text-decoration: none;
    color: var(--color-primary-400);
}
  
.list a:hover,
.list a.active {
    color: var(--color-primary-800);
    text-decoration: underline;
    font-weight: bold;
  }



