.home{
    height: auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
    /* background-color: rgb(153, 186, 249); */
}
.sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:50px;
    
    
   
    
}
.s1{
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.s2{
    display: flex;
    padding: 50px;
    position: relative;
    height: 100%;
    
}

.s2 img{
    object-fit: contain;
    width: 450px;
    height: 80vh;
    
}
/* .s2 img::before{
    content: '';
    position: absolute;
    left: 10%;
    width: 50%;
    height: 100%;
    transform-origin: bottom;
    background-color: rgb(109, 51, 65);
    border-left-color: black;
    border-radius: 40%;
    
} */

@media screen and (max-width: 768px) {
    .sections {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      
    }
  }
  
@media screen and (max-width: 981px) {
    .sections {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      
    }
    .s2 img{
        width: 450px;
        border-radius: 0;
        align-items: center;
        
    }

  }