.home{
    height: auto;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #FFF5E0;
    /* background-color: rgb(153, 186, 249); */
}
.sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:50px;
    
    
   
    
}
.s1{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
}



.s2{
    display: flex;
    padding: 50px;
    height: 100%;
    
}

.s2 img{
    object-fit: contain;
    width: 460px;
    height: 80vh;
    
}

@media screen and (max-width: 981px) {
  .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
  }
  .s2 img{
      width: 450px;
      align-items: center;
      
  }

}


@media screen and (max-width: 768px) {
    .sections {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      
    }
    .s2 img{
      width:100%;

    }
    .s1 p {
      font-size: 28px;
    }
  }
  
