.third{
    background-color: rgb(77, 71, 71);
    height: 35vh;
    width:100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: centers;
    align-items: center;
}
.third button{
    font-size: 16px;
    background-color: yellow;
    padding: 4px;
}